.box-contacto {
	border: #E6E6E6 1px solid;
	border-radius: 4px;
	padding: 10px 5px 5px 5px;
	margin: 12px 5px;
}

#remove-excursion {
	position: absolute;
	left: 89%;
	top: 61%;
}

.colPadding {
	padding: 2px;
}

.precio {
	padding: 2px;
}
